---
name: "Deemix"
version: "1.0.0"
description: "deemix"
slug: "deemix"
arch:
  - aarch64
  - amd64
url: "https://github.com/lburais/hassio-addons/tree/master/deemix",
startup: "application",
webui: "http://[HOST]:[PORT:6595]",
ports:
  6595/tcp: 6595
ports_description:
  6595/tcp: "Web interface"
environment:
  ARL: ""
  UMASK_SET: 022
  TZ: "Europe/Paris"
  PGID: 0
  PUID: 0
options:
  PGID: 0
  PUID: 0
  TZ: "Europe/Paris"
  UMASK_SET: 022
  ARL: ""
schema:
  PGID: "int"
  PUID: "int"
  TZ: "str?"
  UMASK_SET: "int"
  ARL: "str?"
panel_icon: "mdi:music-box-multiple"
map:
  - share:rw
  - config:rw